/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Body*/
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto max-content;
    height: 100vh;
}
/*Header*/
.navbar{
    background-color: rgba(0, 255, 255, 0.192);
}
.subTitulo{
    text-align: center;
}

/*Cards*/
.card_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem;
}

.card{
    margin: 2rem;
    border-radius: 5px;
    background-color: gray;
}
.imagen{
    width: 150px;
    height: 180px;
}
.tamanioremera{
    width: 150px;
    height: 200px;
    background-size: cover;
}
/*Footer*/
.piePagina {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 10rem;
    padding: 1rem;
}
/* Carrito */
.img{
    width: 60px;
}
.carrito{
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}
.logoTacho{
    width: 15px; 
    height: 10px;
}
.button{
    display: flex;
    justify-content: end;
}
.precioTotal{
    display: flex;
    padding: 2rem;
    margin-right: 5rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
}
.Eliminar{
    height: 40px;
    width: 40px;
}
.carritoVacio{
    display: flex;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}