/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Body*/
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto max-content;
    height: 100vh;
}
/*Header*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.192);
}
.titulo{
    text-align: center;
}

/*Cards*/
.card_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem;
}

.card{
    margin: 2rem;
    border-radius: 5px;
    background-color: gray;
}
.imagen{
    width: 150px;
    height: 180px;
}
.tamanioremera{
    width: 150px;
    height: 200px;
    background-size: cover;
}
/*Footer*/
.piePagina {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 10rem;
    padding: 1rem;
}